<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bis.dao.RateDao">
	<select id="selectCountByShop"  resultType="int">
		SELECT COUNT(DISTINCT userId) 
		FROM ${tableName}
		WHERE x &gt;= 10*#{shop.xSpot}
		AND x &lt;= 10*#{shop.x1Spot}
		 AND y &gt;= 10*#{shop.ySpot}
		 AND y &lt;= 10*#{shop.y1Spot}
		AND mapId = #{shop.mapId}
	</select>
	
	<select id="getShopInfoById" resultType="ShopModel">	
        select * from bi_shop where id = #{id}
    </select> 
	
    <select id="getShopInfoByMapId" resultType="ShopModel">	
        select a.*,b.x,b.y from bi_shop a join bi_shop_category b on a.categoryId = b.id join bi_maps c on c.mapId = a.mapId and a.mapId = #{mapId}
    </select> 
    
    <select id="getShopInfoByStore" resultType="ShopModel"> 
        select a.*,b.x,b.y from bi_shop a join bi_shop_category b on a.categoryId = b.id join bi_maps c on c.mapId = a.mapId and c.storeId = #{storeId}
    </select>      	
	
    <select id="getShopCountByShopId" resultType="int"> 
        select count(distinct userId) from ${tableName} where mapId = #{shop.mapId} and  x &gt;= (10 * #{shop.xSpot}) and x &lt;= (10 * #{shop.x1Spot}) and y &gt;= (10 * #{shop.ySpot}) and y &lt;= (10 * #{shop.y1Spot}) 
    </select>   
    
     <select id="getShopCountByShopIdRound" resultType="int"> 
        select count(distinct userId) from ${tableName} where mapId = #{shop.mapId} and  x &gt;= (10 * #{shop.xSpot}-5*#{shop.x}) and x &lt;= (10 * #{shop.x1Spot}+5*#{shop.x}) and y &gt;= (10 * #{shop.ySpot}-5*#{shop.y}) and y &lt;= (10 * #{shop.y1Spot}+5*#{shop.y}) 
    </select>  
	
	<select id="selectXByCategoryId" resultType="Integer">
		SELECT x FROM bi_shop_category WHERE id =
		(
			SELECT categoryId FROM bi_shop WHERE id = #{id}
		)	
	</select>
	
	<select id="selectYByCategoryId" resultType="Integer">
		SELECT y FROM bi_shop_category WHERE id =
		(
			SELECT categoryId FROM bi_shop WHERE id = #{id}
		)	
	</select>
	
	<select id="selectAllCountByShop" resultType="int">
		SELECT COUNT(DISTINCT userId) 
		FROM ${tableName}
		WHERE x &gt;=
		(
			10*#{shop.xSpot} - 5*#{shop.x}
		) 
		AND x &lt;=
		(
			10*#{shop.x1Spot} + 5*#{shop.x}
		) 
		AND y &gt;=
		(
			10*#{shop.ySpot} - 5*#{shop.y}
		) 
		AND y &lt;=
		(
			10*#{shop.y1Spot} + 5*#{shop.y}
		) 
		AND mapId =#{shop.mapId}
	
	</select>
	
	<select id="selectAllCount" resultType="int">
		SELECT COUNT(*) FROM bi_shop
	</select>
	
	<select id="selectAllShopId" resultType="Integer">
		SELECT id FROM bi_shop
	</select>
	
    <select id="selectShopIdByStoreId" resultType="Integer">
      SELECT a.id FROM bi_shop a join bi_maps b on a.mapId = b.mapId join bi_store c on c.id = b.storeId and b.storeId = #{storeId}
    </select>	
	
	<select id="selectShopIdByMapId" resultType="Integer">
		SELECT id FROM bi_shop where mapId = #{mapId}
	</select>
	
	<select id="selectVisitorById" resultType="double">
		SELECT visitorNumber FROM bi_shop_category WHERE id = 
		(
			SELECT categoryId FROM bi_shop WHERE id = #{id}
		)
	</select>
	
	<select id="selectShopNameById" resultType="String">
		SELECT shopName FROM bi_shop WHERE id = #{id}
	</select>
	
	<select id="selectCountDelayTime" resultType="int">
		SELECT COUNT(*) FROM ${tableName} WHERE shopId = #{shop.id} AND time = #{nowDay} AND delaytime &gt;=
		(
			SELECT deepTime FROM bi_shop_category WHERE id = #{shop.categoryId}
		)
	</select>
	
    <select id="selectCountDelayTime1" resultType="int">
        SELECT COUNT(*) FROM ${tableName} WHERE shopId = #{shop.id} AND time = #{nowDay} AND delaytime &lt;=
        (
            SELECT visitorNumber FROM bi_shop_category WHERE id = #{shop.categoryId}
        )
    </select>	
	
	<select id="selectCount" resultType="int">
		SELECT COUNT(*) FROM ${tableName} WHERE shopId = #{id} AND time = #{nowDay}
	</select>
</mapper>